@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --primario:rgb(248, 248, 248);
    --blanco:#FFF;
    outline: none;
    border-style: none;
}

body{
    margin: 0;
    min-height: 100vh; 
    background-color: var(--primario);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header-logo{
    height: 70px;
    margin: 0;
    padding: 0;
}

#gg{
    cursor: pointer;
}

/*Registro*/
.title{
    font-family: 'Georgia';
    margin-left: 70px;
    padding: 0;
}


label {
    font-family: 'Georgia';
    font-size: 14px;
    color: white;
}


input {
    width: 300px;
    height: 25px;
    align-items: center;
    justify-content: center;
}


.container div {
    margin: auto;
    background: #24303c;
    margin-left: 12px;
}

.container {
    background-image: url(fondo.png);
    width: 380px;
    height: auto;
    background: #24303c;
    padding: 15px;
    margin: auto;
    margin-top:25px;
    border-radius: 10px;
    font-family: 'Georgia';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 25px;
}


.mensajeError {
    color: rgb(248, 0, 0);
    font-size: 12px;
    letter-spacing: 1px;
}

.mensajeCorrecto{
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    margin-left: 60px;
}


.boton-enviar input {
   
    width: 100px;
    background-color: rgb(175, 175, 226);
    border: none;
    height:30px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 100px;
    text-align: center;
}

.boton-enviar input:hover {
    background: rgb(255, 255, 255);
    color: #000;
    transition: 0.5s;
}


/* Menu de navegacion */

#btnSalir{
    display: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color:#079992;
    border: none;
    outline: none;  
}

#btnSalir:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.inicio a{
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.inicio{
    display: flex;
    flex: 1;
}

.inicio .item{
    margin-top: 20px;
    align-self: flex-start;
}

.item:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.contenedor{
    display: flex;
    gap: 2rem; 
    list-style: none;
    background-color:#079992;
    color: white;
    margin-top: 0;
    height: 80px;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.contenedor li:first-child{
    margin-right: auto;
}

/**FOOTER**/

.footer{
    background-color: #079992;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}