@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --primario:rgb(248, 248, 248);
    --blanco:#FFF;
    outline: none;
    border-style: none;
}

body{
    margin: 0;
    min-height: 100vh; 
    background-color: var(--primario);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header-logo{
    height: 70px;
    margin: 0;
    padding: 0;
}

/* Menu de navegacion */

#btnSalir{
    display: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color:#079992;
    border: none;
    outline: none;  
}

#btnSalir:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.inicio a, input {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.inicio{
    display: flex;
    flex: 1;
}

.inicio .item{
    margin-top: 20px;
    align-self: flex-start;
}

.item:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.contenedor{
    display: flex;
    gap: 2rem; 
    list-style: none;
    background-color:#079992;
    color: white;
    margin-top: 0;
    height: 80px;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.contenedor li:first-child{
    margin-right: auto;
}

/* Footer */

.footer{

    background-color: #079992;
    margin-top: 2rem;

}

.footer__texto{
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}

/* Slide */
.mySlides {
    display:none;
    width: 100%;
   
}

.w3-content{
    margin: 30px;
    display: flex;
    width: 40%;
}

.titulo-texto{
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

/* Inicio */

.comprar__titulo{
    text-align: center;
    padding-bottom: 20px;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.bloque {
    text-align: center;
    padding: 10px;
    margin: 20px 20px;
    background-color: rgba(128, 204, 194, 0.63);
    border-radius: 12px;
}

.bloque__titulo {
    margin: 0;
}

/**GLOBALES**/

a{
    text-decoration: none;
}
