@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --primario:rgb(248, 248, 248);
    --primarioOscuro: #2d5de2;
    --secundario: #1a1918;
    --blanco:#FFF;
    outline: none;
    border-style: none;
}
body{
    margin: 0;
    min-height: 100vh; 
    background-color: var(--primario);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header-logo{
    height: 70px;
    margin: 0;
    padding: 0;
}

#gg{
    cursor: pointer;
}

/* Menu de navegacion */

#btnSalir{
    display: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color:#079992;
    border: none;
    outline: none;  
}

#btnSalir:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.inicio a{
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.inicio{
    display: flex;
    flex: 1;
}

.inicio .item{
    margin-top: 20px;
    align-self: flex-start;
}

.item:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.menu{
    display: flex;
    gap: 2rem; 
    list-style: none;
    background-color:#079992;
    color: white;
    margin-top: 0;
    height: 80px;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.menu li:first-child{
    margin-right: auto;
}

 /**GLOBALES**/

p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}

img{
    width: 100%;
}

.contenedor{
    background-color: rgba(128, 204, 194, 0.63);
    padding: 5px;
    border-radius: 10px;
    max-width: 90rem;
    margin: 12.2px auto;
}

h1,h2,h3{ /**Selecciona todos los titulos**/
    text-align: center;
    color: var(--secundario);
    font-family: 'Poppins', sans-serif;
}

h1{ /**Tamaño individual**/
    font-size: 4rem;
    padding-bottom: 5px;
}

.nosotros__contenido p{
    color: black;
}

.nosotros__contenido{
    padding: 5px 20px;
}

/**FOOTER**/

.footer{
    background-color: #079992;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}
